<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stock Screener - Home</title>

        <!-- Include Tailwind CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="styles.css"> 
    </head>

    <body class="bg-gradient-to-br from-blue-400 to-blue-600 h-screen flex items-center justify-center">
        <div class="max-w-md w-full bg-white p-8 rounded-lg shadow-lg">
            <h1 class="text-3xl font-bold mb-4 text-center text-blue-600 text-shadow">Welcome to Stock Screener</h1>

            <!-- Form for entering stock symbol -->
            <form action="/screen" method="post" class="flex items-center justify-center">

                <!-- Input field for stock symbol -->
                <input type="text" id="symbol" name="symbol" class="border rounded-md py-2 px-3 mr-2 w-48 focus:outline-none" placeholder="Enter Stock Symbol" required>
                
                <!-- Submit button -->
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none">Search</button>
            </form>
        </div>
    </body>
</html>




